
body {
  background-color: black;
}

/* STYLING */
.centered {
  align-items: center;
  text-align: center;
}
.padding-top {
  padding-top: 50px;
}



/* FONTS */
.display1 {
    font-family: 'Crimson Text', serif;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}

.display2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 10px;
    letter-spacing: 2px;
}



/* FLIP CARDS */
.flip-card {
    height: 300px;
    width: 189px;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    height: 300px;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    border-radius: 9px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    height: 300px;
    backface-visibility: hidden;
    border-radius: 7px;
}

.flip-card-front {
    background-color: #fff3d0;
    z-index: 2;
}

.flip-card-back {
    background-color: #ced3d4;
    transform: rotateY(180deg);
    z-index: 1;
    padding: 2rem;
}
