/* BACKGROUNDS */
#cork {
  background-image: url('majestic_images/cork_2.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
}

#bg-color {
  background-image: url('majestic_images/texture2.jpg');
  background-position: center;
  background-repeat: repeat;
  width: 90%;
}

.parallax-img {
  background-image: url('majestic_images/majestic_sign.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quote {
  background-image: url('majestic_images/pull_quote_test.png');
  min-height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
#pullquote {
  opacity: 0.2;
}

.footer2 {
  background-image: url('majestic_images/footer-slip.png');
  min-height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin-top: 3rem;
}

#footer-img {
  background-image: url('majestic_images/footer.jpg');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 250px;
}

/* BACKGROUNDS */


/* STYLES FOR NAV */
.navbar {
  min-height: 50px;
  background-color: black;
}
.dropdown-menu {
  font-family: 'Crimson Text', serif;
  color: white;
  font-size: 15px;
  letter-spacing: 1.1px;
  background-color: black;
}
.dropdown-item {
  color: white;
}
.nav-link {
  font-family: 'Crimson Text', serif;
  color: white;
  font-size: 15px;
  letter-spacing: 1.1px;
}
.navbar-brand {
  font-family: 'Crimson Text', serif;
  color: white;
  font-size: 22px;
  letter-spacing: 1.2px;
}
.return {
  font-family: 'Crimson Text', serif;
  color: white;
  font-size: 15px;
  letter-spacing: 1.1px;
}
.return:hover {
  font-family: 'Crimson Text', serif;
  color: white;
  font-size: 15px;
  letter-spacing: 1.1px;
  text-decoration: underline;
}
/* STYLES FOR NAV */


/* FONTS */
.firstcharacter {
  color: black;
  float: left;
  font-family: 'Crimson Text', serif;
  font-size: 90px;
  line-height: 30px;
  padding-top: 4px;
  padding-right: 4px;
}

.display-1 {
  position: relative;
  text-align: left;
  font-family: 'Crimson Text', serif;
  font-size: 35px;
  letter-spacing: 1.2px;
}

.fa-chevron-down {
  font-size: 50px;
}

p {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  letter-spacing: 0.6px;
}

h1 {
  font-family: 'Crimson Text', serif;
  font-weight: bold;
}
h2 {
  font-family: 'Crimson Text', serif;
  font-size: 40px;;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-align: center;
}

.caption {
  font-family: 'Crimson Text', serif;
  font-size: 12px;
  letter-spacing: 0.3px;
  color: gray;
  padding-top: 1.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  text-align: center;
}

.caption2 {
  font-family: 'Crimson Text', serif;
  font-size: 13px;
  letter-spacing: 0.2px;
  color: gray;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  text-align: center;
}

footer a {
  color: black;

}

footer a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-style: thin;
}

/* FONTS */




/* PADDING, ALIGNMENT, AND MARGINS */
.center {
  align-items: center;
}

.padding {
  padding: 3rem !important;
}

.padding-top {
  padding-top: 2rem;
}

.double-padding-top {
  padding-top: 4rem;
}

.baby-padding-top {
  padding-top: 1.2rem;
}

.padding-bottom {
  padding-bottom: 3rem;
}

.double-padding-bottom {
  padding-bottom: 6rem;
}

.padding-right {
  padding-right: 3rem;
}

.padding-left {
  padding-left: 3rem;
}

.padding-sides {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.centered {
  margin-top: 40%;
}

/* FONTS */




/* PADDING, ALIGNMENT, AND MARGINS */
.center {
  align-items: center;
}

.padding {
  padding: 3rem !important;
}

.padding-top {
  padding-top: 2rem;
}

.double-padding-top {
  padding-top: 4rem;
}

.padding-bottom {
  padding-bottom: 3rem;
}

.double-padding-bottom {
  padding-bottom: 6rem;
}

.padding-right {
  padding-right: 3rem;
}

.padding-left {
  padding-left: 3rem;
}

.padding-sides {
  padding-left: 3rem;
  padding-right: 3rem;
}

.centered {
  margin-top: 40%;
}

/* PADDING, ALIGNMENT, AND MARGINS */






/* FANCY STUFF - INFOGRAPHICS, VIDEO, EFFECTS, ETC */
.shadow {
  box-shadow: 6px 12px 6px rgba(10, 10, 10, 0.5);
}

#infographic {
  width: 80%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
}

/* FANCY STUFF - INFOGRAPHICS, VIDEO, EFFECTS, ETC */




@media screen and (max-width: 768px) {
  .caption {
    font-family: 'Crimson Text', serif;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: gray;
    padding-top: 1.5rem;
    padding-right:0.5rem;
    padding-left: 0.5rem;
    text-align: center;
  }
  .caption2 {
    font-family: 'Crimson Text', serif;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: gray;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    text-align: center;
  }
  p {
    font-family: 'Crimson Text', serif;
    font-size: 17px;
    letter-spacing: 0.3px;
  }
  .parallax-img {
    background-image: none;
    max-height: 40px;
  }
  .quote{
    margin-top: 20%;
    background-image: none;
    object-fit: contain;
  }
  .display-1 {
    text-align: left;
    font-family: 'Crimson Text', serif;
    font-size: 30px;
    letter-spacing: 1px;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 4rem;
    padding-top: 3rem;
  }
  .fa-chevron-down {
    font-size: 30px;
  }
  #cork {
    background-image: url('stain_images/texture.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
  }
  #bg-color {
    background-image: none;
}
}
