


h1 {
  font-family: 'Crimson Text', serif;
  font-size: 150px;
}

p {
  font-family: 'Raleway', sans-serif;
}

#head {
  padding: 80px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.text-box {
  padding: 150px;
}

#text-box {
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #545C69;
  color: #ffffff;
}

.col-lg-7, .col-lg-5 {
  padding: 0px;
}

.image-caption {
  background-color: #F2F2F2;
}

.caption {
  padding: 40px;
  font-size: 15px;
}



#first-image {
  width: 100%;
}
